body {
    font-family: Arial, sans-serif;
    background-color: #f4f1ea;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #9c27b0;
    color: white;
    padding: 2em;
    text-align: center;
  }
  
  .nav {
    background-color: #efefef;
    padding: 1em;
    text-align: center;
  }
  
  .nav a {
    color: #9c27b0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .content,
  .video-section,
  .chart-section {
    padding: 2em;
    margin: auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }
  
  .tableauWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 100%;
  }
  
  .footer {
    text-align: center;
    padding: 2em;
    background-color: #ddd;
    font-style: italic;
  }